In [2]:
print(22/7)

3.142857142857143

In [3]:
print(22//7)

3

In [4]:
a=bibhuti
b=swain
print(a+b)

NameError: name 'bibhuti' is not defined

In [5]:
a='bibhuti'
b='swain'
print(a+b)

bibhutiswain

In [6]:
print(a+ b)

bibhutiswain

In [7]:
print(a+'' b)

SyntaxError: invalid syntax (<ipython-input-7-4b08dcb93a34>, line 1)

In [8]:
print(a+''+b)

bibhutiswain

In [9]:
print(a+ '' +b)

bibhutiswain

In [10]:
print(a + '' +b)

bibhutiswain

In [11]:
print('a' + 'b')

ab

In [14]:
var2=int(input('enter the value of var2:'))
var3=int(input('enter the value of var3:'))
print(var2+var3)

enter the value of var2:10
enter the value of var3:5
15

In [15]:
var1='hello'
var2='bibhuti'
message=var1+','+var2
print(message)

hello,bibhuti

In [16]:
for i=0,i<20,i++
print(i)

SyntaxError: invalid syntax (<ipython-input-16-d2f8caf3e537>, line 1)

In [20]:
for i in range(1,12):
print("value of I"+ str(i))

IndentationError: expected an indented block (<ipython-input-20-7133e14a7fba>, line 2)

In [28]:
for i in range(1,12):
    print("value of I"  +   str(i))

value of I1
value of I2
value of I3
value of I4
value of I5
value of I6
value of I7
value of I8
value of I9
value of I10
value of I11

In [31]:
for var1 in range(1,50):
    print("No {} suare is {} and cube is {} " .format(var1,var1**2,var1**3))
    print("for loop complete***")

No 1 suare is 1 and cube is 1
for loop complete***
No 2 suare is 4 and cube is 8
for loop complete***
No 3 suare is 9 and cube is 27
for loop complete***
No 4 suare is 16 and cube is 64
for loop complete***
No 5 suare is 25 and cube is 125
for loop complete***
No 6 suare is 36 and cube is 216
for loop complete***
No 7 suare is 49 and cube is 343
for loop complete***
No 8 suare is 64 and cube is 512
for loop complete***
No 9 suare is 81 and cube is 729
for loop complete***
No 10 suare is 100 and cube is 1000
for loop complete***
No 11 suare is 121 and cube is 1331
for loop complete***
No 12 suare is 144 and cube is 1728
for loop complete***
No 13 suare is 169 and cube is 2197
for loop complete***
No 14 suare is 196 and cube is 2744
for loop complete***
No 15 suare is 225 and cube is 3375
for loop complete***
No 16 suare is 256 and cube is 4096
for loop complete***
No 17 suare is 289 and cube is 4913
for loop complete***
No 18 suare is 324 and cube is 5832
for loop complete***
No 19 suare is 361 and cube is 6859
for loop complete***
No 20 suare is 400 and cube is 8000
for loop complete***
No 21 suare is 441 and cube is 9261
for loop complete***
No 22 suare is 484 and cube is 10648
for loop complete***
No 23 suare is 529 and cube is 12167
for loop complete***
No 24 suare is 576 and cube is 13824
for loop complete***
No 25 suare is 625 and cube is 15625
for loop complete***
No 26 suare is 676 and cube is 17576
for loop complete***
No 27 suare is 729 and cube is 19683
for loop complete***
No 28 suare is 784 and cube is 21952
for loop complete***
No 29 suare is 841 and cube is 24389
for loop complete***
No 30 suare is 900 and cube is 27000
for loop complete***
No 31 suare is 961 and cube is 29791
for loop complete***
No 32 suare is 1024 and cube is 32768
for loop complete***
No 33 suare is 1089 and cube is 35937
for loop complete***
No 34 suare is 1156 and cube is 39304
for loop complete***
No 35 suare is 1225 and cube is 42875
for loop complete***
No 36 suare is 1296 and cube is 46656
for loop complete***
No 37 suare is 1369 and cube is 50653
for loop complete***
No 38 suare is 1444 and cube is 54872
for loop complete***
No 39 suare is 1521 and cube is 59319
for loop complete***
No 40 suare is 1600 and cube is 64000
for loop complete***
No 41 suare is 1681 and cube is 68921
for loop complete***
No 42 suare is 1764 and cube is 74088
for loop complete***
No 43 suare is 1849 and cube is 79507
for loop complete***
No 44 suare is 1936 and cube is 85184
for loop complete***
No 45 suare is 2025 and cube is 91125
for loop complete***
No 46 suare is 2116 and cube is 97336
for loop complete***
No 47 suare is 2209 and cube is 103823
for loop complete***
No 48 suare is 2304 and cube is 110592
for loop complete***
No 49 suare is 2401 and cube is 117649
for loop complete***

In [1]:
def div(var1,var2):
    var3=var1/var2
    return var3
var4=div(49,9)
print("division =",var4)

division = 5.444444444444445

In [1]:
*warning?