In [4]:
import pandas as pd
Loterry=[4,5,7,8,3,34,23,67]
pd.Series(Loterry)

0     4
1     5
2     7
3     8
4     3
5    34
6    23
7    67
dtype: int64

In [16]:
fruits=['apple','banana','grapes','orange']
days=['mon','tue','wed','thus']

pd.Series(fruits,days)

mon      apple
tue     banana
wed     grapes
thus    orange
dtype: object

In [29]:
sale=pd.read_csv("sale.csv",squeeze=True,usecols=['Item Type'])
sale.head()
sale.head(10)

0        Baby Food
1           Snacks
2        Beverages
3           Cereal
4           Snacks
5    Personal Care
6          Clothes
7          Clothes
8          Clothes
9        Baby Food
Name: Item Type, dtype: object

In [31]:
sale.values
sale.index

RangeIndex(start=0, stop=5000, step=1)

In [44]:
sale.is_unique
sale.ndim
sale.sort_values(ascending =False)

4999    Vegetables
2240    Vegetables
3202    Vegetables
3930    Vegetables
2603    Vegetables
2591    Vegetables
4578    Vegetables
4580    Vegetables
2582    Vegetables
2363    Vegetables
2679    Vegetables
2550    Vegetables
2475    Vegetables
2494    Vegetables
2454    Vegetables
2449    Vegetables
2412    Vegetables
2389    Vegetables
4605    Vegetables
2383    Vegetables
2369    Vegetables
2547    Vegetables
2492    Vegetables
4570    Vegetables
4563    Vegetables
2196    Vegetables
2311    Vegetables
2328    Vegetables
2309    Vegetables
2296    Vegetables
           ...
2736     Baby Food
2787     Baby Food
630      Baby Food
627      Baby Food
559      Baby Food
2259     Baby Food
2766     Baby Food
1182     Baby Food
4564     Baby Food
2646     Baby Food
606      Baby Food
2555     Baby Food
4583     Baby Food
4582     Baby Food
2751     Baby Food
556      Baby Food
2564     Baby Food
2578     Baby Food
605      Baby Food
4571     Baby Food
2580     Baby Food
4579     Baby Food
2587     Baby Food
2588     Baby Food
2606     Baby Food
2609     Baby Food
1256     Baby Food
4573     Baby Food
609      Baby Food
0        Baby Food
Name: Item Type, Length: 5000, dtype: object

In [42]:
sale.sort_values(ascending = False,inplace=True)
sale

4999    Vegetables
520     Vegetables
563     Vegetables
101     Vegetables
573     Vegetables
4888    Vegetables
580     Vegetables
786     Vegetables
592     Vegetables
674     Vegetables
524     Vegetables
4880    Vegetables
734     Vegetables
683     Vegetables
4867    Vegetables
751     Vegetables
753     Vegetables
759     Vegetables
4860    Vegetables
775     Vegetables
657     Vegetables
1494    Vegetables
702     Vegetables
835     Vegetables
532     Vegetables
2202    Vegetables
844     Vegetables
510     Vegetables
888     Vegetables
914     Vegetables
           ...
3473     Baby Food
891      Baby Food
890      Baby Food
4287     Baby Food
1805     Baby Food
2099     Baby Food
2059     Baby Food
1936     Baby Food
1929     Baby Food
4677     Baby Food
1901     Baby Food
1799     Baby Food
4836     Baby Food
1793     Baby Food
4835     Baby Food
3332     Baby Food
1789     Baby Food
1786     Baby Food
1773     Baby Food
1766     Baby Food
929      Baby Food
1748     Baby Food
936      Baby Food
1721     Baby Food
1703     Baby Food
1696     Baby Food
955      Baby Food
1156     Baby Food
921      Baby Food
0        Baby Food
Name: Item Type, Length: 5000, dtype: object

In [45]:
sale.head(5)

4999    Vegetables
520     Vegetables
563     Vegetables
101     Vegetables
573     Vegetables
Name: Item Type, dtype: object

In [48]:
sale.sort_index(ascending=False,inplace=True)
sale.head(5)

4999    Vegetables
4998       Clothes
4997     Baby Food
4996       Clothes
4995     Household
Name: Item Type, dtype: object

In [42]:
import pandas as pd
sale=pd.read_csv('sale.csv',index_col='Region',squeeze=True)
sale
sale.head()

,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
Region,,,,,,,,,,,,,
Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [62]:
sale=pd.read_csv('sale.csv',usecols=['Region'],index_col='Region',squeeze=True)
sale

Empty DataFrame
Columns: []
Index: [Central America and the Caribbean, Central America and the Caribbean, Europe, Asia, Asia, Middle East and North Africa, Australia and Oceania, Europe, Middle East and North Africa, Sub-Saharan Africa, Middle East and North Africa, Middle East and North Africa, Asia, Central America and the Caribbean, Central America and the Caribbean, Middle East and North Africa, Europe, Europe, North America, Central America and the Caribbean, Middle East and North Africa, Middle East and North Africa, Europe, Australia and Oceania, Middle East and North Africa, Central America and the Caribbean, Europe, Central America and the Caribbean, Sub-Saharan Africa, Australia and Oceania, Middle East and North Africa, Australia and Oceania, Middle East and North Africa, Sub-Saharan Africa, Middle East and North Africa, Europe, Australia and Oceania, Europe, Sub-Saharan Africa, Middle East and North Africa, Europe, Middle East and North Africa, Asia, Asia, Middle East and North Africa, Sub-Saharan Africa, Sub-Saharan Africa, Middle East and North Africa, Europe, Asia, Europe, Asia, Europe, Australia and Oceania, Australia and Oceania, Asia, Australia and Oceania, Sub-Saharan Africa, Asia, Central America and the Caribbean, Middle East and North Africa, Central America and the Caribbean, Europe, Asia, Central America and the Caribbean, Middle East and North Africa, Sub-Saharan Africa, Sub-Saharan Africa, Central America and the Caribbean, Sub-Saharan Africa, Middle East and North Africa, Europe, Central America and the Caribbean, Australia and Oceania, Central America and the Caribbean, Middle East and North Africa, Australia and Oceania, Australia and Oceania, Sub-Saharan Africa, Europe, Middle East and North Africa, Middle East and North Africa, Sub-Saharan Africa, Sub-Saharan Africa, Europe, Asia, Europe, Europe, Europe, Asia, Central America and the Caribbean, Sub-Saharan Africa, Europe, Central America and the Caribbean, Asia, Europe, Sub-Saharan Africa, Australia and Oceania, Middle East and North Africa, Sub-Saharan Africa, ...]

[5000 rows x 0 columns]

In [96]:
Region.get("Asia")

In [108]:
Region=pd.read_csv("sale.csv",squeeze=True,usecols=['Region'],index_col='Region')
Region.sort_index(ascending=True,inplace=True)
Region.head()

Empty DataFrame
Columns: []
Index: [Asia, Asia, Asia, Asia, Asia]

In [115]:
google=pd.read_csv("test.csv",squeeze=True)
google.head()

0    34.60
1    35.60
2     9.78
3    37.60
4    56.80
Name: stock, dtype: float64

In [116]:
google.count()

13

In [117]:
google.sum()

471.58000000000004

In [118]:
google.mean()

36.27538461538462

In [119]:
google.sum()/google.count()

36.27538461538462

In [120]:
google.max()

87.5

In [121]:
google.idxmax()

5

In [123]:
google[5]

87.5

In [143]:
sale=pd.read_csv("sale.csv",squeeze=True,index_col='Unit Cost')
sale.head()
sale.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [144]:
google=pd.read_csv('Test.csv',squeeze=True)
google.head()

0    34.60
1    35.60
2     9.78
3    37.60
4    56.80
Name: stock, dtype: float64

In [149]:
google.apply(lambda stock:stock+1).head()

0    35.60
1    36.60
2    10.78
3    38.60
4    57.80
Name: stock, dtype: float64

In [164]:
def classify_per(number):
    if number<300:
        return "ok"
    elif number>=300 & number <600:
        return "satisfactory"
    else:
        return "Incredible"
    
google.apply(classify_per)

0     ok
1     ok
2     ok
3     ok
4     ok
5     ok
6     ok
7     ok
8     ok
9     ok
10    ok
11    ok
12    ok
Name: stock, dtype: object

In [170]:
sale=pd.read_csv("sale.csv")
sale.head(11)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
5,Middle East and North Africa,Morocco,Personal Care,Offline,L,11/8/2010,412882792,11/22/2010,48,81.73,56.67,3923.04,2720.16,1202.88
6,Australia and Oceania,Federated States of Micronesia,Clothes,Offline,H,3/28/2011,932776868,5/10/2011,8258,109.28,35.84,902434.24,295966.72,606467.52
7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
8,Middle East and North Africa,Afghanistan,Clothes,Offline,M,8/27/2016,579814469,10/5/2016,8841,109.28,35.84,966144.48,316861.44,649283.04
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62
10,Middle East and North Africa,Turkey,Office Supplies,Offline,C,9/25/2013,557156026,10/15/2013,3704,651.21,524.96,2412081.84,1944451.84,467630.00

In [171]:
sale.index

RangeIndex(start=0, stop=5000, step=1)

In [172]:
sale.shape

(5000, 14)

In [173]:
sale.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [175]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
Region            5000 non-null object
Country           5000 non-null object
Item Type         5000 non-null object
Sales Channel     5000 non-null object
Order Priority    5000 non-null object
Order Date        5000 non-null object
Order ID          5000 non-null int64
Ship Date         5000 non-null object
Units Sold        5000 non-null int64
Unit Price        5000 non-null float64
Unit Cost         5000 non-null float64
Total Revenue     5000 non-null float64
Total Cost        5000 non-null float64
Total Profit      5000 non-null float64
dtypes: float64(5), int64(2), object(7)
memory usage: 547.0+ KB