In [31]:
import pandas as pd
df=pd.read_csv('sale.csv')
df.head()
df['Item Type'].duplicated(keep=False)
df[df['Item Type'].duplicated()]

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88
7,Europe,Bosnia and Herzegovina,Clothes,Online,M,10/14/2013,919133651,11/4/2013,927,109.28,35.84,101302.56,33223.68,68078.88
8,Middle East and North Africa,Afghanistan,Clothes,Offline,M,8/27/2016,579814469,10/5/2016,8841,109.28,35.84,966144.48,316861.44,649283.04
9,Sub-Saharan Africa,Ethiopia,Baby Food,Online,M,4/13/2015,192993152,5/7/2015,9817,255.28,159.42,2506083.76,1565026.14,941057.62
12,Asia,Malaysia,Cereal,Offline,L,7/31/2016,333942162,8/25/2016,9762,205.70,117.11,2008043.40,1143227.82,864815.58
13,Central America and the Caribbean,Saint Lucia,Cosmetics,Offline,H,7/6/2015,795100581,7/16/2015,6786,437.20,263.33,2966839.20,1786957.38,1179881.82
14,Central America and the Caribbean,Saint Vincent and the Grenadines,Baby Food,Online,L,11/28/2010,504313504,12/3/2010,6428,255.28,159.42,1640939.84,1024751.76,616188.08
16,Europe,Austria,Cereal,Offline,C,8/13/2014,987410676,9/6/2014,5616,205.70,117.11,1155211.20,657689.76,497521.44
17,Europe,Bulgaria,Office Supplies,Online,L,10/31/2010,672330081,11/29/2010,6266,651.21,524.96,4080481.86,3289399.36,791082.50
18,North America,Mexico,Beverages,Online,C,3/13/2017,127374303,3/20/2017,1742,47.45,31.79,82657.90,55378.18,27279.72
19,Central America and the Caribbean,Trinidad and Tobago,Baby Food,Offline,C,4/16/2013,783842170,6/1/2013,5172,255.28,159.42,1320308.16,824520.24,495787.92
20,Middle East and North Africa,Libya,Beverages,Offline,L,1/18/2010,993345010,3/3/2010,1718,47.45,31.79,81519.10,54615.22,26903.88
21,Middle East and North Africa,Algeria,Baby Food,Offline,M,9/5/2015,977806651,10/14/2015,3572,255.28,159.42,911860.16,569448.24,342411.92
23,Australia and Oceania,Tuvalu,Beverages,Offline,L,3/22/2012,610864150,4/7/2012,7132,47.45,31.79,338413.40,226726.28,111687.12
24,Middle East and North Africa,Saudi Arabia,Snacks,Offline,L,4/25/2017,604870164,6/5/2017,3378,152.58,97.44,515415.24,329152.32,186262.92
25,Central America and the Caribbean,Cuba,Cereal,Online,H,3/13/2014,164655292,5/1/2014,4015,205.70,117.11,825885.50,470196.65,355688.85
26,Europe,Montenegro,Fruits,Offline,L,5/29/2016,313705861,7/10/2016,1390,9.33,6.92,12968.70,9618.80,3349.90
27,Central America and the Caribbean,Guatemala,Office Supplies,Online,M,1/17/2012,345820701,2/1/2012,4885,651.21,524.96,3181160.85,2564429.60,616731.25
28,Sub-Saharan Africa,Guinea,Baby Food,Online,M,12/27/2012,975111138,1/21/2013,5910,255.28,159.42,1508704.80,942172.20,566532.60
29,Australia and Oceania,Vanuatu,Snacks,Online,C,4/1/2013,286001002,4/15/2013,2907,152.58,97.44,443550.06,283258.08,160291.98
30,Middle East and North Africa,United Arab Emirates,Cosmetics,Offline,H,6/26/2015,483226621,8/6/2015,6350,437.20,263.33,2776220.00,1672145.50,1104074.50
31,Australia and Oceania,Australia,Clothes,Offline,M,1/17/2012,241836822,1/17/2012,3744,109.28,35.84,409144.32,134184.96,274959.36
32,Middle East and North Africa,Oman,Clothes,Online,H,7/3/2011,557192933,7/5/2011,4626,109.28,35.84,505529.28,165795.84,339733.44
33,Sub-Saharan Africa,Malawi,Meat,Online,L,2/17/2012,694968783,4/2/2012,5562,421.89,364.69,2346552.18,2028405.78,318146.40
34,Middle East and North Africa,Lebanon,Fruits,Online,H,4/5/2013,441150701,5/12/2013,5150,9.33,6.92,48049.50,35638.00,12411.50
35,Europe,Czech Republic,Cereal,Online,M,7/8/2011,552037513,8/5/2011,9022,205.70,117.11,1855825.40,1056566.42,799258.98
36,Australia and Oceania,Vanuatu,Cosmetics,Offline,C,2/24/2012,504240548,3/27/2012,4838,437.20,263.33,2115173.60,1273990.54,841183.06
38,Sub-Saharan Africa,Benin,Personal Care,Online,L,8/7/2016,440603101,9/15/2016,3104,81.73,56.67,253689.92,175903.68,77786.24
39,Middle East and North Africa,Somalia,Clothes,Offline,L,4/26/2017,629547774,5/3/2017,6031,109.28,35.84,659067.68,216151.04,442916.64
40,Europe,Switzerland,Meat,Online,L,3/21/2014,169378983,4/10/2014,1860,421.89,364.69,784715.40,678323.40,106392.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,Asia,Myanmar,Baby Food,Online,M,6/6/2012,670026814,6/15/2012,4679,255.28,159.42,1194455.12,745926.18,448528.94
4971,Europe,Russia,Personal Care,Offline,H,11/12/2011,473845756,12/16/2011,344,81.73,56.67,28115.12,19494.48,8620.64
4972,Middle East and North Africa,Qatar,Clothes,Online,L,8/29/2016,853746545,10/15/2016,1430,109.28,35.84,156270.40,51251.20,105019.20
4973,Sub-Saharan Africa,Cameroon,Beverages,Offline,L,2/27/2015,119153010,3/5/2015,8878,47.45,31.79,421261.10,282231.62,139029.48
4974,Asia,Malaysia,Office Supplies,Offline,L,11/25/2011,699801480,12/26/2011,5664,651.21,524.96,3688453.44,2973373.44,715080.00
4975,Australia and Oceania,Samoa,Meat,Online,C,4/12/2016,595740783,5/13/2016,1791,421.89,364.69,755604.99,653159.79,102445.20
4976,Sub-Saharan Africa,Zambia,Cereal,Online,M,1/16/2016,127332246,2/11/2016,9296,205.70,117.11,1912187.20,1088654.56,823532.64
4977,Sub-Saharan Africa,Gabon,Office Supplies,Online,M,5/9/2011,585249698,6/5/2011,7246,651.21,524.96,4718667.66,3803860.16,914807.50
4978,Europe,Belarus,Vegetables,Online,C,1/5/2011,180479466,1/12/2011,6740,154.06,90.93,1038364.40,612868.20,425496.20
4979,Sub-Saharan Africa,Chad,Snacks,Offline,M,7/16/2013,794320380,8/12/2013,5907,152.58,97.44,901290.06,575578.08,325711.98
4980,Asia,Indonesia,Personal Care,Offline,L,12/5/2010,328383767,12/18/2010,4909,81.73,56.67,401212.57,278193.03,123019.54
4981,Sub-Saharan Africa,Eritrea,Office Supplies,Online,H,3/7/2015,354593455,4/3/2015,938,651.21,524.96,610834.98,492412.48,118422.50
4982,Middle East and North Africa,Iran,Beverages,Offline,H,8/21/2016,265185773,10/5/2016,3218,47.45,31.79,152694.10,102300.22,50393.88
4983,Asia,South Korea,Clothes,Online,M,7/3/2010,422709548,8/4/2010,8004,109.28,35.84,874677.12,286863.36,587813.76
4984,Asia,Cambodia,Vegetables,Offline,L,10/3/2015,810026109,10/18/2015,3581,154.06,90.93,551688.86,325620.33,226068.53
4985,Asia,Laos,Cosmetics,Offline,L,10/13/2010,580309283,10/25/2010,5268,437.20,263.33,2303169.60,1387222.44,915947.16
4986,Asia,Sri Lanka,Office Supplies,Online,C,12/1/2012,307045400,12/2/2012,412,651.21,524.96,268298.52,216283.52,52015.00
4987,Europe,Norway,Personal Care,Offline,M,1/14/2014,634033286,1/15/2014,3394,81.73,56.67,277391.62,192337.98,85053.64
4988,Middle East and North Africa,United Arab Emirates,Household,Online,H,8/31/2014,925384271,10/12/2014,625,668.27,502.54,417668.75,314087.50,103581.25
4989,Asia,Thailand,Snacks,Online,C,8/8/2012,615522181,9/20/2012,5547,152.58,97.44,846361.26,540499.68,305861.58
4990,Europe,Ukraine,Cereal,Offline,L,4/14/2014,559183347,5/21/2014,3633,205.70,117.11,747308.10,425460.63,321847.47
4991,Europe,Armenia,Meat,Offline,M,11/9/2015,781416594,12/23/2015,7390,421.89,364.69,3117767.10,2695059.10,422708.00
4992,Middle East and North Africa,Iran,Clothes,Offline,L,7/11/2014,927583253,8/30/2014,1352,109.28,35.84,147746.56,48455.68,99290.88
4993,Europe,Denmark,Clothes,Offline,H,5/9/2012,713357150,6/3/2012,7088,109.28,35.84,774576.64,254033.92,520542.72
4994,Sub-Saharan Africa,Liberia,Cosmetics,Offline,M,6/17/2012,374724614,6/23/2012,8195,437.20,263.33,3582854.00,2157989.35,1424864.65
4995,Australia and Oceania,New Zealand,Household,Offline,C,4/3/2015,217984473,4/20/2015,5305,668.27,502.54,3545172.35,2665974.70,879197.65
4996,Middle East and North Africa,Azerbaijan,Clothes,Offline,L,8/17/2014,169748055,10/2/2014,1077,109.28,35.84,117694.56,38599.68,79094.88
4997,Asia,Myanmar,Baby Food,Offline,H,11/23/2016,226939189,12/10/2016,5204,255.28,159.42,1328477.12,829621.68,498855.44
4998,Europe,Finland,Clothes,Online,L,4/22/2014,906794202,5/11/2014,9410,109.28,35.84,1028324.80,337254.40,691070.40
4999,Sub-Saharan Africa,Tanzania,Vegetables,Online,L,7/8/2011,996861922,8/7/2011,2450,154.06,90.93,377447.00,222778.50,154668.50

In [36]:
len(df)
#df.drop_duplicates(subset=['Region'], keep='first')

5000

In [34]:
len(df.drop_duplicates(subset=['Region'], keep='first'))

7

In [39]:
bond=pd.read_csv('jamesbond.csv')
bond.head()

,Film,Year,Years lapse,Bond actor,Bond actor appearance,Villians Dispatched,Others' Dispatched,Total Dispatched,Adjusted box office,Actual box office,...,Golden Globe wins,Academy Award nominations,Academy Award wins,Number of Bond drinks,Bond girls,Bond car make,Runtime minutes,Month released,Rating,"Bond, James Bond said"
0,Dr. No,1962,NaN,Sean Connery,1,4,8,12,448.8,59.5,...,1,0,0,11.5,3,Sunbeam,110,October,PG,1
1,From Russia With Love,1963,1.0,Sean Connery,2,11,16,27,543.8,78.9,...,0,0,0,16.0,3,Bentley,115,April,PG,0
2,Goldfinger,1964,1.0,Sean Connery,3,9,68,77,820.4,124.9,...,0,1,1,12.0,5,Aston Martin,110,September,PG,1
3,Thunderball,1965,1.0,Sean Connery,4,20,90,110,848.1,141.2,...,0,1,1,14.5,5,Lincoln,130,December,PG,0
4,You Only Live Twice,1967,2.0,Sean Connery,5,21,175,196,514.2,101.0,...,0,0,0,9.5,4,Toyota,117,June,PG,0

In [41]:
bond.set_index('Film',inplace=True)
bond.head()

,Year,Years lapse,Bond actor,Bond actor appearance,Villians Dispatched,Others' Dispatched,Total Dispatched,Adjusted box office,Actual box office,Adjusted budget,...,Golden Globe wins,Academy Award nominations,Academy Award wins,Number of Bond drinks,Bond girls,Bond car make,Runtime minutes,Month released,Rating,"Bond, James Bond said"
Film,,,,,,,,,,,,,,,,,,,,,
Dr. No,1962,NaN,Sean Connery,1,4,8,12,448.8,59.5,7.0,...,1,0,0,11.5,3,Sunbeam,110,October,PG,1
From Russia With Love,1963,1.0,Sean Connery,2,11,16,27,543.8,78.9,12.6,...,0,0,0,16.0,3,Bentley,115,April,PG,0
Goldfinger,1964,1.0,Sean Connery,3,9,68,77,820.4,124.9,18.6,...,0,1,1,12.0,5,Aston Martin,110,September,PG,1
Thunderball,1965,1.0,Sean Connery,4,20,90,110,848.1,141.2,41.9,...,0,1,1,14.5,5,Lincoln,130,December,PG,0
You Only Live Twice,1967,2.0,Sean Connery,5,21,175,196,514.2,101.0,59.9,...,0,0,0,9.5,4,Toyota,117,June,PG,0

In [43]:
bond.loc['Moonraker']

Year                                       1979
Years lapse                                   2
Bond actor                          Roger Moore
Bond actor appearance                         4
Villians Dispatched                          12
Others' Dispatched                           69
Total Dispatched                             81
Adjusted box office                         535
Actual box office                         210.3
Adjusted budget                            91.5
Actual budget                                34
Director                          Lewis Gilbert
Rotten Tomatoes critic score                59%
Rotten Tomatoes audience score              43%
Golden Globe nominations                      0
Golden Globe wins                             0
Academy Award nominations                     1
Academy Award wins                            0
Number of Bond drinks                         7
Bond girls                                    4
Bond car make                           Bentley
Runtime minutes                             126
Month released                             June
Rating                                       PG
Bond, James Bond said                         1
Name: Moonraker, dtype: object

In [48]:
bond.loc['Moonraker','Bond actor']

'Roger Moore'

In [49]:
bond.iloc[4]

Year                                       1967
Years lapse                                   2
Bond actor                         Sean Connery
Bond actor appearance                         5
Villians Dispatched                          21
Others' Dispatched                          175
Total Dispatched                            196
Adjusted box office                       514.2
Actual box office                           101
Adjusted budget                            59.9
Actual budget                              10.3
Director                          Lewis Gilbert
Rotten Tomatoes critic score                73%
Rotten Tomatoes audience score              69%
Golden Globe nominations                      0
Golden Globe wins                             0
Academy Award nominations                     0
Academy Award wins                            0
Number of Bond drinks                       9.5
Bond girls                                    4
Bond car make                            Toyota
Runtime minutes                             117
Month released                             June
Rating                                       PG
Bond, James Bond said                         0
Name: You Only Live Twice, dtype: object

In [50]:
bond.iloc[2:8]

,Year,Years lapse,Bond actor,Bond actor appearance,Villians Dispatched,Others' Dispatched,Total Dispatched,Adjusted box office,Actual box office,Adjusted budget,...,Golden Globe wins,Academy Award nominations,Academy Award wins,Number of Bond drinks,Bond girls,Bond car make,Runtime minutes,Month released,Rating,"Bond, James Bond said"
Film,,,,,,,,,,,,,,,,,,,,,
Goldfinger,1964,1.0,Sean Connery,3,9,68,77,820.4,124.9,18.6,...,0,1,1,12.0,5,Aston Martin,110,September,PG,1
Thunderball,1965,1.0,Sean Connery,4,20,90,110,848.1,141.2,41.9,...,0,1,1,14.5,5,Lincoln,130,December,PG,0
You Only Live Twice,1967,2.0,Sean Connery,5,21,175,196,514.2,101.0,59.9,...,0,0,0,9.5,4,Toyota,117,June,PG,0
On Her Majesty's Secret Service,1969,2.0,George Lazenby,1,5,37,42,291.5,64.6,37.3,...,0,0,0,9.5,3,Aston Martin,142,December,PG,2
Diamonds Are Forever,1971,2.0,Sean Connery,6,7,42,49,442.5,116.0,34.7,...,0,1,0,6.0,5,Ford,120,December,PG,1
Live and Let Die,1973,2.0,Roger Moore,1,8,5,13,460.3,126.4,30.8,...,0,1,0,15.5,3,Chevrolet,121,June,PG,1

In [51]:
bond.iloc[14,2:8]

Bond actor               Timothy Dalton
Bond actor appearance                 1
Villians Dispatched                  13
Others' Dispatched                   29
Total Dispatched                     42
Adjusted box office               313.5
Name: The Living Daylights, dtype: object

In [53]:
bond.ix[20,'Director']

c:\users\bibhuti\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

'Martin Campbell'

In [63]:
bond.ix["Dr. No"]

c:\users\bibhuti\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Year                                           1962
Years lapse                                     NaN
Bond actor                         Sir Sean Connery
Bond actor appearance                             1
Villians Dispatched                               4
Others' Dispatched                                8
Total Dispatched                                 12
Adjusted box office                           448.8
Actual box office                              59.5
Adjusted budget                                   7
Actual budget                                   1.1
Director                              Terence Young
Rotten Tomatoes critic score                    96%
Rotten Tomatoes audience score                  82%
Golden Globe nominations                          1
Golden Globe wins                                 1
Academy Award nominations                         0
Academy Award wins                                0
Number of Bond drinks                          11.5
Bond girls                                        3
Bond car make                               Sunbeam
Runtime minutes                                 110
Month released                              October
Rating                                           PG
Bond, James Bond said                             1
Bond actor                        Sir Sean Connery
Name: Dr. No, dtype: object

In [62]:
bond.ix["Dr. No","Bond actor"]="Sir Sean Connery"

c:\users\bibhuti\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [64]:
bond.ix["Bond actor"]

c:\users\bibhuti\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

KeyError: 'Bond actor'

In [65]:
bond.ix["Dr. No",["Adjusted box office","Adjusted budget","Actual budget"]]=[470,9,2]

c:\users\bibhuti\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [66]:
bond.ix["Dr. No"]

c:\users\bibhuti\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Year                                           1962
Years lapse                                     NaN
Bond actor                         Sir Sean Connery
Bond actor appearance                             1
Villians Dispatched                               4
Others' Dispatched                                8
Total Dispatched                                 12
Adjusted box office                             470
Actual box office                              59.5
Adjusted budget                                   9
Actual budget                                     2
Director                              Terence Young
Rotten Tomatoes critic score                    96%
Rotten Tomatoes audience score                  82%
Golden Globe nominations                          1
Golden Globe wins                                 1
Academy Award nominations                         0
Academy Award wins                                0
Number of Bond drinks                          11.5
Bond girls                                        3
Bond car make                               Sunbeam
Runtime minutes                                 110
Month released                              October
Rating                                           PG
Bond, James Bond said                             1
Bond actor                        Sir Sean Connery
Name: Dr. No, dtype: object

In [68]:
mask=bond["Bond actor"]== "Sir Sean Connery"
bond.ix[mask]

c:\users\bibhuti\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,Year,Years lapse,Bond actor,Bond actor appearance,Villians Dispatched,Others' Dispatched,Total Dispatched,Adjusted box office,Actual box office,Adjusted budget,...,Academy Award nominations,Academy Award wins,Number of Bond drinks,Bond girls,Bond car make,Runtime minutes,Month released,Rating,"Bond, James Bond said",Bond actor
Film,,,,,,,,,,,,,,,,,,,,,
Dr. No,1962,NaN,Sir Sean Connery,1,4,8,12,470.0,59.5,9.0,...,0,0,11.5,3,Sunbeam,110,October,PG,1,Sir Sean Connery

In [70]:
bond.sample(frac=0.50)

,Year,Years lapse,Bond actor,Bond actor appearance,Villians Dispatched,Others' Dispatched,Total Dispatched,Adjusted box office,Actual box office,Adjusted budget,...,Academy Award nominations,Academy Award wins,Number of Bond drinks,Bond girls,Bond car make,Runtime minutes,Month released,Rating,"Bond, James Bond said",Bond actor
Film,,,,,,,,,,,,,,,,,,,,,
Octopussy,1983,2.0,Roger Moore,6,15,43,58,373.8,183.7,53.9,...,0,0,14.5,3,Mercedes-Benz,131,June,PG,1,NaN
For Your Eyes Only,1981,2.0,Roger Moore,5,18,36,54,449.4,194.9,60.2,...,1,0,10.5,3,Lotus,127,June,PG,2,NaN
GoldenEye,1995,6.0,Pierce Brosnan,1,47,25,72,518.5,351.9,76.9,...,0,0,8.0,3,BMW,130,November,PG-13,1,NaN
The Living Daylights,1987,2.0,Timothy Dalton,1,13,29,42,313.5,191.2,68.8,...,0,0,5.5,2,Aston Martin,130,June,PG,1,NaN
Casino Royale,2006,4.0,Daniel Craig,1,11,11,22,581.5,594.2,145.3,...,0,0,26.0,2,Aston Martin,144,November,PG-13,1,NaN
The Man with the Golden Gun,1974,1.0,Roger Moore,2,1,5,6,334.0,98.5,27.7,...,0,0,11.5,4,AMC,125,December,PG,2,NaN
Dr. No,1962,NaN,Sir Sean Connery,1,4,8,12,470.0,59.5,9.0,...,0,0,11.5,3,Sunbeam,110,October,PG,1,Sir Sean Connery
Quantum of Solace,2008,2.0,Daniel Craig,2,16,15,31,514.2,576.0,181.4,...,0,0,18.0,2,Aston Martin,106,November,PG-13,0,NaN
On Her Majesty's Secret Service,1969,2.0,George Lazenby,1,5,37,42,291.5,64.6,37.3,...,0,0,9.5,3,Aston Martin,142,December,PG,2,NaN
Goldfinger,1964,1.0,Sean Connery,3,9,68,77,820.4,124.9,18.6,...,1,1,12.0,5,Aston Martin,110,September,PG,1,NaN
You Only Live Twice,1967,2.0,Sean Connery,5,21,175,196,514.2,101.0,59.9,...,0,0,9.5,4,Toyota,117,June,PG,0,NaN
Tomorrow Never Dies,1997,2.0,Pierce Brosnan,2,30,24,54,463.2,338.9,133.9,...,0,0,22.0,3,BMW,119,December,PG-13,1,NaN

In [71]:
bond.sample(n=3,axis=1)

,Year,Academy Award nominations,Bond car make
Film,,,
Dr. No,1962,0,Sunbeam
From Russia With Love,1963,0,Bentley
Goldfinger,1964,1,Aston Martin
Thunderball,1965,1,Lincoln
You Only Live Twice,1967,0,Toyota
On Her Majesty's Secret Service,1969,0,Aston Martin
Diamonds Are Forever,1971,1,Ford
Live and Let Die,1973,1,Chevrolet
The Man with the Golden Gun,1974,0,AMC
The Spy Who Loved Me,1977,3,Lotus
Moonraker,1979,1,Bentley
For Your Eyes Only,1981,1,Lotus
Octopussy,1983,0,Mercedes-Benz
A View to a Kill,1985,0,Renault
The Living Daylights,1987,0,Aston Martin
Licence to Kill,1989,0,Lincoln
GoldenEye,1995,0,BMW
Tomorrow Never Dies,1997,0,BMW
The World is Not Enough,1999,0,BMW
Die Another Day,2002,0,Aston Martin
Casino Royale,2006,0,Aston Martin
Quantum of Solace,2008,0,Aston Martin
Skyfall,2012,5,Aston Martin

In [72]:
bond.where(bond["Adjusted box office"]>800)

,Year,Years lapse,Bond actor,Bond actor appearance,Villians Dispatched,Others' Dispatched,Total Dispatched,Adjusted box office,Actual box office,Adjusted budget,...,Academy Award nominations,Academy Award wins,Number of Bond drinks,Bond girls,Bond car make,Runtime minutes,Month released,Rating,"Bond, James Bond said",Bond actor
Film,,,,,,,,,,,,,,,,,,,,,
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
From Russia With Love,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,1.0,Sean Connery,3.0,9.0,68.0,77.0,820.4,124.9,18.6,...,1.0,1.0,12.0,5.0,Aston Martin,110.0,September,PG,1.0,NaN
Thunderball,1965.0,1.0,Sean Connery,4.0,20.0,90.0,110.0,848.1,141.2,41.9,...,1.0,1.0,14.5,5.0,Lincoln,130.0,December,PG,0.0,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The World is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,2012.0,4.0,Daniel Craig,3.0,26.0,23.0,49.0,879.8,1108.6,158.1,...,5.0,2.0,16.0,2.0,Aston Martin,143.0,November,PG-13,1.0,NaN